<a href="https://colab.research.google.com/github/Ishita-Jinturkar/EDA/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Liver%20Data.csv"

df = pd.read_csv(url)
print(df.head())

   Age of the patient Gender of the patient  Total Bilirubin  \
0                65.0                Female              0.7
1                62.0                  Male             10.9
2                62.0                  Male              7.3
3                58.0                  Male              1.0
4                72.0                  Male              3.9

   Direct Bilirubin   Alkphos Alkaline Phosphotase  \
0               0.1                          187.0
1               5.5                          699.0
2               4.1                          490.0
3               0.4                          182.0
4               2.0                          195.0

    Sgpt Alamine Aminotransferase  Sgot Aspartate Aminotransferase  \
0                            16.0                             18.0
1                            64.0                            100.0
2                            60.0                             68.0
3                            14.0                             20.0
4                            27.0                             59.0

   Total Protiens   ALB Albumin  A/G Ratio Albumin and Globulin Ratio  Result
0             6.8           3.3                                  0.90       1
1             7.5           3.2                                  0.74       1
2             7.0           3.3                                  0.89       1
3             6.8           3.4                                  1.00       1
4             7.3           2.4                                  0.40       1

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
30686    False
30687     True
30688    False
30689    False
30690     True
Length: 30691, dtype: bool

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
29974    False
29976    False
30686    False
30688    False
30689    False
Length: 19368, dtype: bool

In [ ]:
df.isnull()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
29974,False,False,False,False,False,False,False,False,False,False,False
29976,False,False,False,False,False,False,False,False,False,False,False
30686,False,False,False,False,False,False,False,False,False,False,False
30688,False,False,False,False,False,False,False,False,False,False,False
30689,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Age of the patient                        1
Gender of the patient                   796
Total Bilirubin                         557
Direct Bilirubin                        490
 Alkphos Alkaline Phosphotase           694
 Sgpt Alamine Aminotransferase          459
Sgot Aspartate Aminotransferase         393
Total Protiens                          370
 ALB Albumin                            413
A/G Ratio Albumin and Globulin Ratio    436
Result                                    0
dtype: int64

In [ ]:
df.isnull().sum().sum()

4609

In [ ]:


df.notnull().sum()

Age of the patient                      19367
Gender of the patient                   18572
Total Bilirubin                         18811
Direct Bilirubin                        18878
 Alkphos Alkaline Phosphotase           18674
 Sgpt Alamine Aminotransferase          18909
Sgot Aspartate Aminotransferase         18975
Total Protiens                          18998
 ALB Albumin                            18955
A/G Ratio Albumin and Globulin Ratio    18932
Result                                  19368
dtype: int64

In [ ]:
df.dropna(how='all')

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
29974,58.0,Male,2.9,1.3,482.0,22.0,34.0,7.0,2.4,0.50,1
29976,28.0,Male,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1
30686,50.0,Male,2.2,1.0,610.0,17.0,28.0,7.3,2.6,0.55,1
30688,54.0,Male,6.8,3.0,542.0,116.0,66.0,6.4,3.1,0.90,1
30689,48.0,Female,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1

In [ ]:
df.dropna(how='all' ,axis=1)

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
29974,58.0,Male,2.9,1.3,482.0,22.0,34.0,7.0,2.4,0.50,1
29976,28.0,Male,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1
30686,50.0,Male,2.2,1.0,610.0,17.0,28.0,7.3,2.6,0.55,1
30688,54.0,Male,6.8,3.0,542.0,116.0,66.0,6.4,3.1,0.90,1
30689,48.0,Female,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1

In [ ]:
print(df.columns)
df.columns = df.columns.str.strip()

Index(['Age of the patient', 'Gender of the patient', 'Total Bilirubin',
       'Direct Bilirubin', ' Alkphos Alkaline Phosphotase',
       ' Sgpt Alamine Aminotransferase', 'Sgot Aspartate Aminotransferase',
       'Total Protiens', ' ALB Albumin',
       'A/G Ratio Albumin and Globulin Ratio', 'Result'],
      dtype='object')

In [ ]:

# Handling missing values by replacing with column means
age_mean = df['Age of the patient'].mean()
df['Age of the patient'].fillna(age_mean, inplace=True)

total_bilirubin_mean = df['Total Bilirubin'].mean()
df['Total Bilirubin'].fillna(total_bilirubin_mean, inplace=True)

direct_bilirubin_mean = df['Direct Bilirubin'].mean()
df['Direct Bilirubin'].fillna(direct_bilirubin_mean, inplace=True)

alkphos_mean = df['Alkphos Alkaline Phosphotase'].mean()
df['Alkphos Alkaline Phosphotase'].fillna(alkphos_mean, inplace=True)

sgpt_mean = df['Sgpt Alamine Aminotransferase'].mean()
df['Sgpt Alamine Aminotransferase'].fillna(sgpt_mean, inplace=True)

sgot_mean = df['Sgot Aspartate Aminotransferase'].mean()
df['Sgot Aspartate Aminotransferase'].fillna(sgot_mean, inplace=True)

total_proteins_mean = df['Total Protiens'].mean()
df['Total Protiens'].fillna(total_proteins_mean, inplace=True)

albumin_mean = df['ALB Albumin'].mean()
df['ALB Albumin'].fillna(albumin_mean, inplace=True)

ag_ratio_mean = df['A/G Ratio Albumin and Globulin Ratio'].mean()
df['A/G Ratio Albumin and Globulin Ratio'].fillna(ag_ratio_mean, inplace=True)

In [ ]:
import numpy as np
df[np.abs(df['Alkphos Alkaline Phosphotase'])>700]
df[np.abs(df['Sgot Aspartate Aminotransferase'])>75]

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
1,62.0,Male,10.9,5.5,699.0,64.0,100.000000,7.5,3.2,0.74,1
16,38.0,Male,1.8,0.8,342.0,168.0,441.000000,7.6,4.4,1.30,1
18,40.0,Female,0.9,0.3,293.0,232.0,245.000000,6.8,3.1,0.80,1
21,51.0,Male,2.9,1.3,482.0,22.0,110.790672,7.0,2.4,0.50,1
25,34.0,Male,4.1,2.0,289.0,875.0,731.000000,5.0,2.7,1.10,1
...,...,...,...,...,...,...,...,...,...,...,...
29861,53.0,Male,26.3,12.1,108.0,168.0,630.000000,9.2,2.0,0.30,1
29869,47.0,Female,3.5,1.6,298.0,68.0,200.000000,7.1,3.4,0.90,1
29875,35.0,Male,1.4,0.4,298.0,509.0,623.000000,3.6,1.0,0.30,1
29878,49.0,NaN,15.8,7.2,227.0,67.0,220.000000,6.9,2.6,0.60,1
29895,61.0,Female,10.2,4.2,232.0,58.0,140.000000,7.0,2.7,0.60,1

In [ ]:
mean = df["Age of the patient"].mean()
median =df["Age of the patient"].median()
mode = df["height"].mode()
print(mean , median, mode)

NameError: name 'df' is not defined